<%- include('../partials/header') %>

<main class="register">

  <h2 class="my-5 text-center text-emerald">Welcome User</h2>
  
    <div class="row justify-content-center">

        <form action="/register" method="post" class="col-lg-5">

        <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" class="form-control" name="userName" />
        </div>

        <div class="mb-3">
            <label for="userName" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" />
        </div>

        <div class="mb-3">
            <label for="userName" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" />
        </div>

        <div class="mb-3">
            <label for="userName" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" />
        </div>

        <button class="btn btn-primary rounded">Register</button>
        </form>

    </div>
</main>

<%- include('../partials/footer') %>